<div class="element-bg-img" style="text-align: center; background: rgba(255,255,255,0.1);">
  <img [src]="selectedHotel ? selectedHotel.images[0] : hotels[0].images[0]" alt="" class="img-responsive">
</div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let star of starList; last as isLast; index as i"
          [ngClass]="{'anc-bor':isLast, 'active':star == selectedFilter}">
        <a href="#" (click)="filterByStars(star)">{{star || "All" }}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Hotel list</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <app-hotel-item *ngFor="let hotel of hotels | hotelFilter: selectedFilter"
                        (click)="selectHotel(hotel)" [hotel]="hotel">
        </app-hotel-item>
      </div>
    </div>
  </div>
</div>
