<div class="element-bg-img"><img [src]="selectedHotel ? selectedHotel.images[0] : hotels[0].images[0]" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li *ngFor="let star of starList; last as isLast; index as i"
          [ngClass]="{'anc-bor':isLast, 'active':star == selectedFilter}">
        <a href="#" (click)="filterByStars(star)">{{star || "All" }}</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Hotel list</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <div class="activity-row" *ngFor="let hotel of hotels | hotelFilter: selectedFilter" (click)="selectHotel(hotel)">
          <div class="activity-desc">
            <h5>{{hotel.name}}</h5>
            <p>{{hotel.address}}</p>
            <h6>Tel:{{hotel.phone}}</h6>
          </div>
          <div class="activity-img">
            <ul>
              <li><img [src]='hotel.images[0]'  alt=""/></li>
              <li><img [src]='hotel.images[1]'  alt=""/></li>
            </ul>
          </div>
          <div class="clear"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
